@charset "UTF-8";

.main{
	background-color:#99CCFF;
	margin-top:10px;
	margin-right:50px;
	margin-left:50px;
	padding-bottom:100px;
	border-radius:10px;

}

.text{

	padding:10px;
}

.text p{
	padding:5px;
}
.button{


}
.button1{
	display:inline-block;
	float:left;
	margin-top:20px;
	margin-left:10px;

}
.button2{
	display:inline-block;
	float:right;
	margin-top:20px;
	margin-right:10px;
}